@model CourseLMS.Models.Course

@{
    ViewData["Title"] = "Delete";
}
<h3 align="center" class="text-black">Are you sure you want to delete this Course?</h3>
<div align="center">
    <hr />
    <dl class="row">
        <dt class="text-black">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="text-black">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="text-black">
            @Html.DisplayNameFor(model => model.InstructorID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>
        <dt class="text-black">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class="text-black">
            @Html.DisplayNameFor(model => model.EnrollmentCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EnrollmentCount)
        </dd>
        <dt class="text-black">
            @Html.DisplayNameFor(model => model.ImageURL)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImageURL)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="CourseID" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-primary mx-2">Back to List</a>
    </form>
</div>