@model CourseLMS.Models.Course

@{
    ViewData["Title"] = "Details";
    var assignments = (List<Assignment>)ViewData["Assignments"];
    int assignmentCount = assignments.Count;

}
<div class="card shadow rounded-3 border-0 mt-4">
    <div class="card-header bg-primary text-white py-3">
        <h2 class="text-center">Course Details</h2>
    </div>
    <dl class="card-body p-4">
        <div class="row">
            <div class="col-md-4 text-center">
                <dt class="text-dark">@Html.DisplayNameFor(model => model.Title)</dt>
                <dd class="text-dark">@Html.DisplayFor(model => model.Title)</dd>
            </div>
            <div class="col-md-4 text-center">
                <dt class="text-dark">@Html.DisplayNameFor(model => model.Description)</dt>
                <dd class="text-dark">@Html.DisplayFor(model => model.Description)</dd>
            </div>
            <div class="col-md-4 text-center">
                <dt class="text-dark">@Html.DisplayNameFor(model => model.InstructorID)</dt>
                <dd class="text-dark">@Html.DisplayFor(model => model.User.UserName)</dd>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-4 text-center">
                <dt class="text-dark">@Html.DisplayNameFor(model => model.Category)</dt>
                <dd class="text-dark">@Html.DisplayFor(model => model.Category)</dd>
            </div>
            <div class="col-md-4 text-center">
                <dt class="text-dark">@Html.DisplayNameFor(model => model.EnrollmentCount)</dt>
                <dd class="text-dark">@Html.DisplayFor(model => model.EnrollmentCount)</dd>
            </div>
            <div class="col-md-4 text-center">
                <dt class="text-dark">@Html.DisplayNameFor(model => model.Assignments.Count)</dt>
                <dd class="text-dark">@assignmentCount</dd>
            </div>
        </div>
    </dl>
</div>


<div class="row pt-2 justify-content-center">

    @if (ViewData["UserRole"] != null && (string)ViewData["UserRole"] == "Admin" || (User.IsInRole(StaticDetail.Role_Instructor) && (string)ViewData["Instructor"] == @Model.InstructorID))
    {
        <div class="col-6 col-md-3 mt-2">
            <a asp-action="Edit" asp-route-id="@Model?.CourseID" style="border-radius: 20px;" class="btn btn-outline-success form-control text-black">Edit</a>
        </div>

    }
    
    <div class="col-6 col-md-3 mt-2">
        <a asp-controller="Courses" asp-action="Index" style="border-radius: 20px;" class="btn btn-primary border  form-control">
            Back to Courses
        </a>
    </div>
</div>
<div>
    <!-- Display assignments -->
    
    <div class="container mt-5">
        <h2 style="text-align:center">Assignments for this Course:</h2>

        <div class="row card-container justify-content-center">
            @foreach (var assignment in (List<Assignment>)ViewData["Assignments"])
            {
                <div class="card m-2" style="width: 18rem;">
                    <!-- "mb-3" adds margin to the bottom of the card -->
                    <div class="card-body">
                        <h5 class="card-title">@assignment.Title</h5>
                        <p class="card-text">@assignment.Description</p>
                        <a id="submitBtn" style="border-radius: 20px;" class="btn btn-primary btn-sm mx-2">Submit</a>
                        <script>
                            document.getElementById("submitBtn").addEventListener("click", function () {
                                this.innerText = "Completed";
                            });
                        </script>
                    </div>
                </div>

            }
        </div>
    </div>
    
</div>
