@model CourseLMS.Models.Enrollment

@{
    ViewData["Title"] = "Details";
}

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-black py-2">Enrollment Details</h2>
            </div>
        </div>
    </div>
    <dl class="card-body p-4">
        <dt class="text-black">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="form-floating py-2 col-12">
            @Html.DisplayFor(model => model.User.UserName)
        </dd>
        <dt class="text-black">
            @Html.DisplayNameFor(model => model.CourseID)
        </dt>
        <dd class="form-floating py-2 col-12">
            @Html.DisplayFor(model => model.Course.Title)
        </dd>
        <dt class="text-black">
            @Html.DisplayNameFor(model => model.EnrollmentDate)
        </dt>
        <dd class="form-floating py-2 col-12">
            @Html.DisplayFor(model => model.EnrollmentDate)
        </dd>
    </dl>
</div>
<div class="row pt-2">
    <div class="col-6 col-md-3">
        <a asp-action="Edit" asp-route-id="@Model?.EnrollmentID" class="btn btn-outline-success form-control text-black">Edit</a>
    </div>
    <div class="col-6 col-md-3">
        <a asp-controller="Enrollments" asp-action="Index" class="btn btn-outline-primary border  form-control">
            Back to Enrollments
        </a>
    </div>
</div>