@model IEnumerable<CourseLMS.Models.Assignment>

@{
    ViewData["Title"] = "Index";
    
}

<h1>Assignments</h1>

<p>
    <a asp-action="Create" style="float: right;" class="btn btn-outline-dark mb-3">+ Create New</a>
</p>
<table class="table">
    <thead>
        <tr class="table-danger">
            <th>
                @Html.DisplayNameFor(model => model.CourseID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr class="table-success">
                <td>
                @Html.DisplayFor(modelItem => item.Course.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                    <div>
                    <a asp-action="Edit" asp-route-id="@item.AssignmentID" class="btn btn-outline-primary btn-sm">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.AssignmentID" class="btn btn-outline-warning btn-sm">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.AssignmentID" class="btn btn-outline-danger btn-sm">Delete</a>
                    </div>
            </td>
        </tr>
}
    </tbody>
</table>
