@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h1>@ViewData["Title"]</h1>
@*<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h2>Use a local account to log in.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <label asp-for="Input.Password" class="form-label"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div>
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
                <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to log in.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>*@

<div class="hero-wrap js-fullheight" style="background-image: url('images/bg_1.jpg');">
    <div class="overlay"></div>
    <div class="container">
  <div class="row no-gutters slider-text js-fullheight align-items-center" data-scrollax-parent="true">
        <div class="col-md-7 ftco-animate">
          <span class="subheading">Welcome to StudyLab</span>
          <h1 class="mb-4">We Are Online Platform For Make Learn</h1>
          <p class="caps">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
          <p class="mb-0"><a href="#" class="btn btn-primary">Our Course</a> <a href="#" class="btn btn-white">Learn
              More</a></p>
        </div>
      </div>
    </div>
  </div>
  <section class="ftco-section ftco-no-pb ftco-no-pt">
    <div class="container">
      <div class="row">
        <div class="col-md-7"></div>
        <div class="col-md-5 order-md-last">
          <div class="login-wrap p-4 p-md-5">
            <h3 class="mb-4">Register Now</h3>
            <form action="#" class="signup-form">
              <div class="form-group">
                <label class="label" for="name">Full Name</label>
                <input type="text" class="form-control" placeholder="John Doe">
              </div>
              <div class="form-group">
                <label class="label" for="email">Email Address</label>
                <input type="text" class="form-control" placeholder="johndoe@gmail.com">
              </div>
              <div class="form-group">
                <label class="label" for="password">Password</label>
                <input id="password-field" type="password" class="form-control" placeholder="Password">
              </div>
              <div class="form-group">
                <label class="label" for="password">Confirm Password</label>
                <input id="password-field" type="password" class="form-control" placeholder="Confirm Password">
              </div>
              <div class="form-group d-flex justify-content-end mt-4">
                <button type="submit" class="btn btn-primary submit"><span class="fa fa-paper-plane"></span></button>
              </div>
            </form>
            <p class="text-center">Already have an account? <a href="#signin">Sign In</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center pb-4">
        <div class="col-md-12 heading-section text-center ftco-animate">
          <span class="subheading">Start Learning Today</span>
          <h2 class="mb-4">Browse Online Course Category</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-3 col-lg-2">
          <a href="#" class="course-category img d-flex align-items-center justify-content-center"
            style="background-image: url(images/work-1.jpg);">
            <div class="text w-100 text-center">
              <h3>IT &amp; Software</h3>
              <span>100 course</span>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-lg-2">
          <a href="#" class="course-category img d-flex align-items-center justify-content-center"
            style="background-image: url(images/work-9.jpg);">
            <div class="text w-100 text-center">
              <h3>Music</h3>
              <span>100 course</span>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-lg-2">
          <a href="#" class="course-category img d-flex align-items-center justify-content-center"
            style="background-image: url(images/work-3.jpg);">
            <div class="text w-100 text-center">
              <h3>Photography</h3>
              <span>100 course</span>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-lg-2">
          <a href="#" class="course-category img d-flex align-items-center justify-content-center"
            style="background-image: url(images/work-5.jpg);">
            <div class="text w-100 text-center">
              <h3>Marketing</h3>
              <span>100 course</span>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-lg-2">
          <a href="#" class="course-category img d-flex align-items-center justify-content-center"
            style="background-image: url(images/work-8.jpg);">
            <div class="text w-100 text-center">
              <h3>Health</h3>
              <span>100 course</span>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-lg-2">
          <a href="#" class="course-category img d-flex align-items-center justify-content-center"
            style="background-image: url(images/work-6.jpg);">
            <span class="text w-100 text-center">
              <h3>Audio Video</h3>
              <span>100 course</span>
            </span>
          </a>
        </div>
        <div class="col-md-12 text-center mt-5">
          <a href="#" class="btn btn-secondary">See All Courses</a>
        </div>
      </div>
    </div>
  </section>
  <section class="ftco-section bg-light">
    <div class="container">
      <div class="row justify-content-center pb-4">
        <div class="col-md-12 heading-section text-center ftco-animate">
          <span class="subheading">Start Learning Today</span>
          <h2 class="mb-4">Pick Your Course</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 ftco-animate">
          <div class="project-wrap">
            <a href="#" class="img" style="background-image: url(images/work-1.jpg);">
              <span class="price">Software</span>
            </a>
            <div class="text p-4">
              <h3><a href="#">Design for the web with adobe photoshop</a></h3>
              <p class="advisor">Advisor <span>Tony Garret</span></p>
              <ul class="d-flex justify-content-between">
                <li><span class="flaticon-shower"></span>2300</li>
                <li class="price">$199</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 ftco-animate">
          <div class="project-wrap">
            <a href="#" class="img" style="background-image: url(images/work-2.jpg);">
              <span class="price">Software</span>
            </a>
            <div class="text p-4">
              <h3><a href="#">Design for the web with adobe photoshop</a></h3>
              <p class="advisor">Advisor <span>Tony Garret</span></p>
              <ul class="d-flex justify-content-between">
                <li><span class="flaticon-shower"></span>2300</li>
                <li class="price">$199</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 ftco-animate">
          <div class="project-wrap">
            <a href="#" class="img" style="background-image: url(images/work-3.jpg);">
              <span class="price">Software</span>
            </a>
            <div class="text p-4">
              <h3><a href="#">Design for the web with adobe photoshop</a></h3>
              <p class="advisor">Advisor <span>Tony Garret</span></p>
              <ul class="d-flex justify-content-between">
                <li><span class="flaticon-shower"></span>2300</li>
                <li class="price">$199</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 ftco-animate">
          <div class="project-wrap">
            <a href="#" class="img" style="background-image: url(images/work-4.jpg);">
              <span class="price">Software</span>
            </a>
            <div class="text p-4">
              <h3><a href="#">Design for the web with adobe photoshop</a></h3>
              <p class="advisor">Advisor <span>Tony Garret</span></p>
              <ul class="d-flex justify-content-between">
                <li><span class="flaticon-shower"></span>2300</li>
                <li class="price">$199</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 ftco-animate">
          <div class="project-wrap">
            <a href="#" class="img" style="background-image: url(images/work-5.jpg);">
              <span class="price">Software</span>
            </a>
            <div class="text p-4">
              <h3><a href="#">Design for the web with adobe photoshop</a></h3>
              <p class="advisor">Advisor <span>Tony Garret</span></p>
              <ul class="d-flex justify-content-between">
                <li><span class="flaticon-shower"></span>2300</li>
                <li class="price">$199</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 ftco-animate">
          <div class="project-wrap">
            <a href="#" class="img" style="background-image: url(images/work-6.jpg);">
              <span class="price">Software</span>
            </a>
            <div class="text p-4">
              <h3><a href="#">Design for the web with adobe photoshop</a></h3>
              <p class="advisor">Advisor <span>Tony Garret</span></p>
              <ul class="d-flex justify-content-between">
                <li><span class="flaticon-shower"></span>2300</li>
                <li class="price">$199</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(images/bg_4.jpg);">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
          <div class="block-18 d-flex align-items-center">
            <div class="icon"><span class="flaticon-online"></span></div>
            <div class="text">
              <strong class="number" data-number="400">0</strong>
              <span>Online Courses</span>
            </div>
          </div>
        </div>
        <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
          <div class="block-18 d-flex align-items-center">
            <div class="icon"><span class="flaticon-graduated"></span></div>
            <div class="text">
              <strong class="number" data-number="4500">0</strong>
              <span>Students Enrolled</span>
            </div>
          </div>
        </div>
        <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
          <div class="block-18 d-flex align-items-center">
            <div class="icon"><span class="flaticon-instructor"></span></div>
            <div class="text">
              <strong class="number" data-number="1200">0</strong>
              <span>Experts Instructors</span>
            </div>
          </div>
        </div>
        <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
          <div class="block-18 d-flex align-items-center">
            <div class="icon"><span class="flaticon-tools"></span></div>
            <div class="text">
              <strong class="number" data-number="300">0</strong>
              <span>Hours Content</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="ftco-section ftco-about img">
    <div class="container">
      <div class="row d-flex">
        <div class="col-md-12 about-intro">
          <div class="row">
            <div class="col-md-6 d-flex">
              <div class="d-flex about-wrap">
                <div class="img d-flex align-items-center justify-content-center"
                  style="background-image:url(images/about-1.jpg);">
                </div>
                <div class="img-2 d-flex align-items-center justify-content-center"
                  style="background-image:url(images/about.jpg);">
                </div>
              </div>
            </div>
            <div class="col-md-6 pl-md-5 py-5">
              <div class="row justify-content-start pb-3">
                <div class="col-md-12 heading-section ftco-animate">
                  <span class="subheading">Enhanced Your Skills</span>
                  <h2 class="mb-4">Learn Anything You Want Today</h2>
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live
                    the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large
                    language ocean. A small river named Duden flows by their place and supplies it with the necessary
                    regelialia.</p>
                  <p><a href="#" class="btn btn-primary">Get in touch with us</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="ftco-section testimony-section bg-light">
    <div class="overlay" style="background-image: url(images/bg_2.jpg);"></div>
    <div class="container">
      <div class="row pb-4">
        <div class="col-md-7 heading-section ftco-animate">
          <span class="subheading">Testimonial</span>
          <h2 class="mb-4">What Are Students Says</h2>
        </div>
      </div>
    </div>
    <div class="container container-2">
      <div class="row ftco-animate">
        <div class="col-md-12">
          <div class="carousel-testimony owl-carousel">
            <div class="item">
              <div class="testimony-wrap py-4">
                <div class="text">
                  <p class="star">
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                  </p>
                  <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and
                    Consonantia, there live the blind texts.</p>
                  <div class="d-flex align-items-center">
                    <div class="user-img" style="background-image: url(images/person_1.jpg)"></div>
                    <div class="pl-3">
                      <p class="name">Roger Scott</p>
                      <span class="position">Marketing Manager</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimony-wrap py-4">
                <div class="text">
                  <p class="star">
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                  </p>
                  <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and
                    Consonantia, there live the blind texts.</p>
                  <div class="d-flex align-items-center">
                    <div class="user-img" style="background-image: url(images/person_2.jpg)"></div>
                    <div class="pl-3">
                      <p class="name">Roger Scott</p>
                      <span class="position">Marketing Manager</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimony-wrap py-4">
                <div class="text">
                  <p class="star">
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                  </p>
                  <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and
                    Consonantia, there live the blind texts.</p>
                  <div class="d-flex align-items-center">
                    <div class="user-img" style="background-image: url(images/person_3.jpg)"></div>
                    <div class="pl-3">
                      <p class="name">Roger Scott</p>
                      <span class="position">Marketing Manager</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimony-wrap py-4">
                <div class="text">
                  <p class="star">
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                  </p>
                  <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and
                    Consonantia, there live the blind texts.</p>
                  <div class="d-flex align-items-center">
                    <div class="user-img" style="background-image: url(images/person_1.jpg)"></div>
                    <div class="pl-3">
                      <p class="name">Roger Scott</p>
                      <span class="position">Marketing Manager</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimony-wrap py-4">
                <div class="text">
                  <p class="star">
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                  </p>
                  <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and
                    Consonantia, there live the blind texts.</p>
                  <div class="d-flex align-items-center">
                    <div class="user-img" style="background-image: url(images/person_2.jpg)"></div>
                    <div class="pl-3">
                      <p class="name">Roger Scott</p>
                      <span class="position">Marketing Manager</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="ftco-intro ftco-section ftco-no-pb">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12 text-center">
          <div class="img" style="background-image: url(images/bg_4.jpg);">
            <div class="overlay"></div>
            <h2>We Are StudyLab An Online Learning Center</h2>
            <p>We can manage your dream building A small river named Duden flows by their place</p>
            <p class="mb-0"><a href="#" class="btn btn-primary px-4 py-3">Enroll Now</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="ftco-section services-section">
    <div class="container">
      <div class="row d-flex">
        <div class="col-md-6 heading-section pr-md-5 ftco-animate d-flex align-items-center">
          <div class="w-100 mb-4 mb-md-0">
            <span class="subheading">Welcome to StudyLab</span>
            <h2 class="mb-4">We Are StudyLab An Online Learning Center</h2>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a
              paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
              blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language
              ocean.</p>
            <div class="d-flex video-image align-items-center mt-md-4">
              <a href="#" class="video img d-flex align-items-center justify-content-center"
                style="background-image: url(images/about.jpg);">
                <span class="fa fa-play-circle"></span>
              </a>
              <h4 class="ml-4">Learn anything from StudyLab, Watch video</h4>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
              <div class="services">
                <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-tools"></span>
                </div>
                <div class="media-body">
                  <h3 class="heading mb-3">Top Quality Content</h3>
                  <p>A small river named Duden flows by their place and supplies</p>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
              <div class="services">
                <div class="icon icon-2 d-flex align-items-center justify-content-center"><span
                    class="flaticon-instructor"></span></div>
                <div class="media-body">
                  <h3 class="heading mb-3">Highly Skilled Instructor</h3>
                  <p>A small river named Duden flows by their place and supplies</p>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
              <div class="services">
                <div class="icon icon-3 d-flex align-items-center justify-content-center"><span
                    class="flaticon-quiz"></span></div>
                <div class="media-body">
                  <h3 class="heading mb-3">World Class &amp; Quiz</h3>
                  <p>A small river named Duden flows by their place and supplies</p>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
              <div class="services">
                <div class="icon icon-4 d-flex align-items-center justify-content-center"><span
                    class="flaticon-browser"></span></div>
                <div class="media-body">
                  <h3 class="heading mb-3">Get Certified</h3>
                  <p>A small river named Duden flows by their place and supplies</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="ftco-section bg-light">
    <div class="container">
      <div class="row justify-content-center pb-4">
        <div class="col-md-12 heading-section text-center ftco-animate">
          <span class="subheading">Our Blog</span>
          <h2 class="mb-4">Recent Post</h2>
        </div>
      </div>
      <div class="row d-flex">
        <div class="col-lg-4 ftco-animate">
          <div class="blog-entry">
            <a href="blog-single.html" class="block-20" style="background-image: url('../../../../wwwroot/images/bg_1.jpg');">
            </a>
            <div class="text d-block">
              <div class="meta">
                <p>
                  <a href="#"><span class="fa fa-calendar mr-2"></span>Sept. 17, 2020</a>
                  <a href="#"><span class="fa fa-user mr-2"></span>Admin</a>
                  <a href="#" class="meta-chat"><span class="fa fa-comment mr-2"></span> 3</a>
                </p>
              </div>
              <h3 class="heading"><a href="#">I'm not creative, Should I take this course?</a></h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia...</p>
              <p><a href="blog.html" class="btn btn-secondary py-2 px-3">Read more</a></p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 ftco-animate">
          <div class="blog-entry">
            <a href="blog-single.html" class="block-20" style="background-image: url('images/image_2.jpg');">
            </a>
            <div class="text d-block">
              <div class="meta">
                <p>
                  <a href="#"><span class="fa fa-calendar mr-2"></span>Sept. 17, 2020</a>
                  <a href="#"><span class="fa fa-user mr-2"></span>Admin</a>
                  <a href="#" class="meta-chat"><span class="fa fa-comment mr-2"></span> 3</a>
                </p>
              </div>
              <h3 class="heading"><a href="#">I'm not creative, Should I take this course?</a></h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia...</p>
              <p><a href="blog.html" class="btn btn-secondary py-2 px-3">Read more</a></p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 ftco-animate">
          <div class="blog-entry">
            <a href="blog-single.html" class="block-20" style="background-image: url('images/image_3.jpg');">
            </a>
            <div class="text d-block">
              <div class="meta">
                <p>
                  <a href="#"><span class="fa fa-calendar mr-2"></span>Sept. 17, 2020</a>
                  <a href="#"><span class="fa fa-user mr-2"></span>Admin</a>
                  <a href="#" class="meta-chat"><span class="fa fa-comment mr-2"></span> 3</a>
                </p>
              </div>
              <h3 class="heading"><a href="#">I'm not creative, Should I take this course?</a></h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia...</p>
              <p><a href="blog.html" class="btn btn-secondary py-2 px-3">Read more</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
