@model List<User>

<div class="card shadow border-0 mt-4">
    <div class="card-body p-4">
        <div class="row pb-4">
            <div class="col-6">
                <h2 class="text-black py-2">Users</h2>
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Users" asp-action="Create" class="btn btn-primary btn-sm">
                    <i class="bi bi-plus-circle "></i> Create New User
                </a>
            </div>
        </div>
        <table class="table table-bordered table-striped table-hover">
            <thead>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Name</td>
                <td>@user.Surname</td>
                <td>@user.UserName</td>
                        <td style="width:20%">
                            <div class="btn-group" role="group">
                                <a asp-controller="Users" asp-action="Edit" asp-route-id="@user.Id" class="btn btn-primary btn-sm">
                                    <div class="d-flex align-items-center">
                                        <i class="bi bi-pencil-square" style="font-size: 10px;"></i> &nbsp;Edit
                                    </div>
                                </a>
                                <a asp-controller="Users" asp-action="Details" asp-route-id="@user.Id" class="btn btn-warning btn-sm">
                                    <div class="d-flex align-items-center">
                                        <i class="bi bi-info-circle-fill" style="font-size: 10px;"></i> &nbsp;Details
                                    </div>
                                </a>
                                <a asp-controller="Users" asp-action="Delete" asp-route-id="@user.Id" class="btn btn-danger btn-sm">
                                    <div class="d-flex align-items-center">
                                        <i class="bi bi-trash-fill" style="font-size: 10px;"></i> &nbsp;Delete
                                    </div>
                                </a>
                            </div>
                        </td>
            </tr>
        }
    </tbody>
</table>
        @if (User.IsInRole(StaticDetail.Role_Admin))
        {
            <form>

                <input type="submit" asp-controller="Users" asp-action="ExportExcel" class="btn btn-primary btn-sm" value="Export" />
            </form>
        }
</div>
</div>
